.entry
  = form_for(@entry, :html => { :class => "form-stacked"}) do |f|
    - if @entry.errors.any?
      #error_explanation
        %ul
          - @entry.errors.full_messages.each do |msg|
            %li= msg
  
    #title.clearfix
      = f.label :title
      = f.text_field :title, :class => "xxlarge"
    #year.clearfix
      = f.label :year
      = f.text_field :year, :class => "small"
    %p= "The following will be populated where possible by IMDB"
    #plot.clearfix
      = f.label :plot
      = f.text_area :plot, :rows => 10, :class => "xxlarge"
    #rating.clearfix
      = f.label :rating
      = f.text_field :rating, :class => "small"
    .actions
      = f.submit @entry.new_record? ? "Create" : "Save", :disable_with => "Saving…", :class => "btn primary"
      = link_to "Cancel", entries_path, :class => "btn"