<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @entry.title %>
</p>

<p>
  <b>Year:</b>
  <%= @entry.year %>
</p>

<p>
  <b>Plot:</b>
  <%= @entry.plot %>
</p>

<p>
  <b>Rating:</b>
  <%= @entry.rating %>
</p>

<p>
  <b>Poster:</b>
  <%= @entry.poster %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
