.entry.row
  .span4
    = image_tag @entry.poster
  .span12
    #title
      %h2.strong Title
      %p= @entry.title
      
    #year
      %h2 Year
      %p= @entry.year
      
    #plot
      %h2 Plot
      %p= @entry.plot
      
    #actors
      %h2 Actors
      - @entry.actors.each do |a|
        %p= "#{a.name} |"
        
    #directors
      %h2 Directors
      - @entry.directors.each do |d|
        %p= "#{d.name} |"
        
    #genres
      %h2 Genres
      - @entry.genres.each do |g|
        %p= "#{g.name} |"
  
.actions
  =link_to 'Edit', edit_entry_path(@entry), :class => "btn"
  =link_to 'Back to Search', entries_path, :class => "btn"